@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-color: #cf88e3 #cf88e3;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #20113f, #12131c);
}

*::-webkit-scrollbar-thumb {
    background-color: #cf88e3;
    border-radius: 10px;
    border: -3px none #ffffff;
}

.twitchplays_card {
    background: rgba(122, 61, 212, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px 10px rgba(0, 0, 0, 0.045);
    border: 1px solid rgba(122, 61, 212, 0.33);
}

.code {
    background: rgba(122, 70, 199, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(193, 157, 251, 0.3);
    border-radius: 4px;
    color: #c19dfb;
}

.red_button {
    background: rgba(222, 70, 199, 0.08);
    border-radius: 0.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(222, 70, 199, 0.33);
    color: #f2659b;
}

button.red, .card.red {
    background: rgba(222, 70, 199, 0.08);
    border-radius: 0.375rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(222, 70, 199, 0.33);
    color: #f2659b;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

button.green, .card.green {
    background: rgba(98, 238, 199, 0.08);
    border-radius: 0.375rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(98, 238, 173, 0.33);
    color: rgba(98, 238, 173);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

h1.strong {
    font-size: 1.4rem;
    font-weight: bold;
    color: #cc7eff;
    text-transform: capitalize;
}

.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}